@media screen and (max-width:1463px) {
    header{
        width: 1240px;
    }
    .first_main_info{
        width: 1240px;
    }
    .first_main_info_text_header hr{
        width: 126px;
        height: 12px;
    }
    .first_main_info_text_header h3{
        font-size: 78px;
    }
    .first_main_info_text_text p{
        font-size: 34px;
    }
    .two_main_div{
        width: 1240px;
    }
    .section_five{
        height: 1100px;
    }
    .five_main{
        height: 1000px;
    }
    .five_main_info{
        width: 800px;
        height: 900px;
        flex-direction: column-reverse;
    }
    .five_main_info_left{
        align-items: center;
    }
    .section_six{
        height: 1000px;
    }
    .six_main{
        height: 900px;
        flex-direction: column;
    }
    .six_main_right{
        align-items: center;
    }
     
    
}
@media screen and (max-width:1490px){
    .section_seven{
        height: 1000px;
    }
    .seven_main{
        height: 900px;
        flex-direction: column;
    }
    .seven_main_left{
        align-items: center;
    }
}
@media screen and (max-width:1280px){
    .two_main_div{
        width: 1040px;
    }
    .two_main_div_inside_divs{
        width: 222px;
        height: 362px;
    }
    .two_main_div_inside_divs_text{
        width: 100%;
        height: 78px;
    }
    .two_main_div_inside_divs_text p{
        font-size: 16.5px;
    }
}
@media screen and (max-width:1263px){
    header{
        width: 1040px;
    }
    .first_main_info{
        width: 1040px;
    }
    .first_main_info_text_header hr{
        width: 116px;
        height: 12px;
    }
    .first_main_info_text_header h3{
        font-size: 66px;
    }
    .first_main_info_text_text p{
        font-size: 34px;
    }
}
@media screen and (max-width:1255px){
    .four_main_photos{
        width: 801px;
        height: 542px;
        margin-bottom: 15%;
    }
    .four_main_photos_line{
        width: 100%;
        height: 100%;
    }
    .four_main_photos_line img {
        width: 100%;
        height: 100%;
    }
    .four_main_photos_div1{
        width: 172px;
        height: 193px;
        top: 100px;
    }
    .four_main_photos_div2{
        width: 266px;
        height: 295px;
        top: 246px;
        left: 64px;
    }
    .four_main_photos_div3{
        width: 172px;
        height: 193px;
        top: 152px;
        left: 296px;
    }
    .four_main_photos_div4{
        width: 172px;
        height: 193px;
        top: 5px;
        left: 382px;
    }
    .four_main_photos_div5{
        width: 265px;
        height: 291px;
        top: 78px;
        left: 554px;
    }
    .four_main_photos_symbols1{
        top: 125px;
    }
    .four_main_photos_symbols2{
        left: 269px;
        top: 172px;
    }
    .four_main_photos_symbols3{
        left: 357px;
        top: 25px;
    }
    .four_main_photos_symbols4{
        left: 531px;
        top: 123px;
    }
    .four_main_photos_symbols5{
        left: 655px;
        top: 343px;
    }
    .four_main_photos h3{
        font-size: 30px;
    }
    .four_main_photos p{
        font-size: 13px;
    }
    .four_main_photos_div1 p{
        width: 112px;
        height: 61px;
    }
    .four_main_photos_div3 p{
        width: 112px;
        height: 61px;
    }
    .four_main_photos_div4 p{
        width: 112px;
        height: 61px;
    }
    .four_main_photos_div5 p{
        width: 200px;
        height: 60px;
    }

}
@media screen and (max-width:1063px){
    header{
        width: 940px;
    }
    .first_main_info{
        width: 940px;
    }
    .first_main_info_text_header hr{
        width: 106px;
        height: 12px;
    }
    .first_main_info_text_header h3{
        font-size: 58px;
    }
    .first_main_info_text_text p{
        font-size: 30px;
    }
    .two_main_div{
        width: 900px;
    }
}
@media screen and (max-width:993px){
    .three_main{
        width: 700px;
    }
    .three_main h3{
        font-size: 56px;
    }
}
@media screen and (max-width:963px){
    header{
        height: 214px;
        width: 657px;
        flex-direction: column;
    }
    .first_main_info{
        width: 680px;
    }
    .first_main_info_text_header{
        width: 657px;
        height: 86px;
        flex-direction: column;
    }
    .first_main_info_text_header h3{
        font-size: 51px;
    }
    .first_main_info_text_text{
        width: 657px;
    }
    .first_main_info_text_text p{
        font-size: 24px;
    }

}
@media screen and (max-width:923px){
    .two_main_div{
        width: 750px;
    }
    .two_main_div_inside_divs{
        width: 180px;
    }
    .two_main_div_inside_divs_name{
        width: 100%;
    }
    .two_main_div_inside_divs_name p{
        font-size: 34px;
    }
    .two_main_div_inside_divs_text p{
        font-size: 15px;
    }
}
@media screen and (max-width:862px){
    .four_main_photos_line{
        display: none;
    }
    .four_main_photos_symbols1{
        display: none;
    }
    .four_main_photos_symbols2{
        display: none;
    }
    .four_main_photos_symbols3{
        display: none;
    }
    .four_main_photos_symbols4{
        display: none;
    }
    .four_main_photos_symbols5{
        display: none;
    }
    .four_main_photos_div1{
        width: 500px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div2{
        width: 500px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div2 img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .four_main_photos_div3{
        width: 500px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div4{
        width: 500px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div5{
        width: 500px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos{
        width: 550px;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .four_main_photos h3{
        font-size: 40px;
    }
    .four_main_photos_div1 p{
        width: 400px;
        height: 61px;
    }
    .four_main_photos_div3 p{
        width: 400px;
        height: 61px;
    }
    .four_main_photos_div4 p{
        width: 400px;
        height: 61px;
    }
    .four_main_photos_div5 p{
        width: 400px;
        height: 60px;
    }
    .four_main_photos p{
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width:820px){
    .five_main_info{
        width: 600px;
    }
    .five_main_info_right{
        width: 600px;
    }
    .five_main_info_right img:nth-child(1){
        width: 90%;
        left: 35px;
    }
    .five_main_info_right img:nth-child(2){
        width: 55%;

    }
    .six_main_left{
        width: 600px;
    }
    .six_main_left img{
        height: 80%;
    }
    .seven_main_right{
        width: 600px;
    }
    .seven_main_right img{
        height: 80%;
    }
}

@media screen and (max-width:800px){
    .two_main_info{
        width: 530px;
    }
    .two_main_info_text{
        height: 80px;
    }
    .two_main_info_text p{
        font-size: 24px;
    }
    .four_main_header{
        width: 500px;
    }
    .four_main_header_text{
        width: 500px;
    }
    .four_main_header_text p{
        font-size: 20px;
    }
    
}
@media screen and (max-width:770px){
    .section_two{
        height: 1050px;
    }
    .two_main{
        height: 950px;
        justify-content: space-around;
    }
    .two_main_div{
        width: 400px;
        height: 760px;
        flex-wrap: wrap;
    }
    .three_main button{
        width: 280px;
        height: 50px;
    }
}
@media screen and (max-width:744px){
    .three_main{
        width: 374px;
    }
    .three_main h3{
        font-size: 56px;
    }
}
@media screen and (max-width:700px){
    header{
        height: 214px;
        width: 500px;
        flex-direction: column;
    }
    nav, nav ul{
        width: 100%;
    }
    nav li{
        font-size: 20px;
    }
    .first_main_info{
        width: 500px;
    }
    .first_main_info_text_header{
        width: 500px;
        height: 86px;
        flex-direction: column;
    }
    .first_main_info_text_header h3{
        font-size: 38px;
    }
    .first_main_info_text_text{
        width: 500px;
    }
    .first_main_info_text_text p{
        font-size: 18px;
    }
    .first_main_info_button{
        width: 250px;
        height: 68px;
    }
}
@media screen and (max-width:635px){
    .section_six{
        height: 800px;
    }
    .six_main{
        width: 374px;
        height: 700px;
    }
    .six_main_left{
        width: 374px;
        height: 250px;
    }
    .six_main_left img{
        height: 90%;
    }
    .six_main_right{
        width: 374px;
    }
    .six_main_right p{
        width: 374px;
        font-size: 18px;
    }
    .six_main_right button{
        width: 190px;
        height: 50px;
        font-size: 28px;
    }
    .section_seven{
        height: 800px;
    }
    .seven_main{
        width: 374px;
        height: 700px;
    }
    .seven_main_right{
        width: 374px;
        height: 250px;
    }
    .seven_main_right img{
        height: 90%;
    }
    .seven_main_left{
        width: 374px;
    }
    .seven_main_left p{
        width: 374px;
        font-size: 18px;
    }
    .seven_main_left button{
        width: 190px;
        height: 50px;
        font-size: 28px;
    }
}
@media screen and (max-width:620px){
    .section_five{
        height: 1000px;
    }
    .five_main{
        height: 900px;
    }
    .five_main_info{
        width: 374px;
        height: 800px;
        justify-content: space-around;
    }
    .five_main_info_right{
        width: 374px;
        height: 300px;
    }
    .five_main_info_right img:nth-child(1){
        width: 80%;
        left: 35px;
    }
    .five_main_info_right img:nth-child(2){
        width: 55%;

    }
    .five_main_info_right img:nth-child(3){
        height: 55%;
    }
    .five_main_info_left{
        width: 374px;
    }
    .five_main_info_left h3{
        width: 374px;
        font-size: 40px;
        border-left: 5px solid #FC635E;
    }
    .five_main_info_left p{
        width: 374px;
        font-size: 18px;
    }
    .five_main_info_left button{
        width: 190px;
        height: 50px;
        font-size: 28px;
    }
}
@media screen and (max-width:574px){
    .four_main_header{
        width: 374px;
    }
    .four_main_header_text{
        width: 374px;
    }
    .four_main_header_text p{
        font-size: 15px;
    }
    .four_main_photos{
        width: 374px;
    }
    .four_main_photos_div1{
        width: 374px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div2{
        width: 374px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div2 img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .four_main_photos_div3{
        width: 374px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div4{
        width: 374px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div5{
        width: 374px;
        height: 150px;
        clip-path: none;
        position:unset;
    }
    .four_main_photos_div1 p{
        width: 374px;
        height: 61px;
    }
    .four_main_photos_div3 p{
        width: 374px;
        height: 61px;
    }
    .four_main_photos_div4 p{
        width: 374px;
        height: 61px;
    }
    .four_main_photos_div5 p{
        width: 374px;
        height: 60px;
    }
}
@media screen and (max-width:570px){
    .two_main_info_header{
        width: 400px;
    }
    .two_main_info_header h3{
        font-size: 36px;
    }
    .two_main_info{
        width: 400px;
    }
    .two_main_info_text p{
        font-size: 20px;
    }
}
@media screen and (max-width:521px){
    header{
        height: 214px;
        width: 400px;
        flex-direction: column;
    }
    nav, nav ul{
        width: 100%;
    }
    nav li{
        font-size: 20px;
    }
    .first_main_info{
        width: 400px;
    }
    .first_main_info_text_header{
        width: 400px;
        height: 86px;
        flex-direction: column;
    }
    .first_main_info_text_header h3{
        font-size: 32px;
    }
    .first_main_info_text_text{
        width: 400px;
    }
    .first_main_info_text_text p{
        font-size: 16px;
        text-align: center;
    }
    .first_main_info_button{
        width: 250px;
        height: 68px;
    }
}
@media screen and (max-width:405px){
    header{
        height: 214px;
        width: 374px;
        flex-direction: column;
    }
    nav, nav ul{
        width: 100%;
    }
    nav li{
        font-size: 18px;
    }
    .first_main_info{
        width: 374px;
    }
    .first_main_info_text_header{
        width: 374px;
        height: 86px;
        flex-direction: column;
    }
    .first_main_info_text_header h3{
        font-size: 26px;
    }
    .first_main_info_text_text{
        width: 374px;
    }
    .first_main_info_text_text p{
        font-size: 16px;
        text-align: center;
    }
    .first_main_info_button{
        width: 210px;
        height: 58px;
    }
    .two_main_info_header{
        width: 374px;
    }
    .two_main_info_header h3{
        font-size: 32px;
    }
    .two_main_info{
        width: 374px;
    }
    .two_main_info_text p{
        font-size: 20px;
    }
    .two_main_div{
        width: 374px;
    }

}
@media screen and (max-width:1492px){
    .eight_main{
        width: 1000px;
        height: 742px;
    }
    .eight_main_types{
        width: 1000px;
    }
    .eight_main_photos{
        width: 1000px;
    }
    .eight_main_photos_divs_diff{
        width: 454px;
        height: 199px;
    }
    .eight_main_photos_divs{
        width: 233px;
        height: 199px;
    }
    .eight_main_photos_divs_hover h3{
        width: 200px;
        font-size: 24px;
    }
    .eight_main_photos_divs_hover h3:nth-child(2){
        width: 200px;
        font-size: 45px;
    }
    .eight_main_photos_divs_hover h2{
        width: 135px;
        height: 68px;
        font-size: 24px;
        line-height: 20px;

    }
    .eight_main_photos_divs_hover h2:nth-child(2){
        width: 135px;
        font-size: 45px;
    }
}
@media screen and (max-width:1021px){
    .eight_main{
        height: 1200px;
        width: 900px;
    }
    .eight_main_types{
        width: 900px;
    }
    .eight_main_types li:nth-child(odd){
        font-size: 24px;
        color: #FC635E;
        text-transform: uppercase;
        transition: 0.5s;
    }
    .eight_main_photos{
        width: 920px;
        height: 500px;
    }
}
@media screen and (max-width:942px){
    .eight_main{
        width: 650px;
    }
    .eight_main_types{
        width: 650px;
    }
    .eight_main_photos{
        width: 550px;
        height: 900px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:673px){
    .section_eight{
        height: 1650px;
    }
    .eight_main{
        width: 374px;
        height: 1550px;
    }
    .eight_main_types{
        width: 374px;
    }
    .eight_main_types li:nth-child(odd){
        font-size: 12px;
    }
    .eight_main_photos{
        width: 374px;
        height: 1200px;

    }
    .eight_main button{
        width: 190px;
        height: 50px;
        font-size: 22px;
    }
}
@media screen and (max-width:1277px){
    .nine_main{
        width: 1000px;
    }
    .nine_main_workers{
        width: 1000px;
    }
    .nine_main_workers_divs{
        width: 256px;
        height: 344px;
    }
    .nine_main_workers_divs_photo_place{
        width: 159px;
        height: 180px;
    }
    .nine_main_workers_divs_name_place{
        width: 256px;
        height: 60px;
    }
    .nine_main_workers_divs_name_place h3{
        font-size: 30px;
    }
    .nine_main_workers_divs_name_place p{
        font-size: 24px;
    }
    .nine_main_workers_divs_socials{
        width: 180px;
        height: 50px;
    }
    .nine_main_workers_divs_socials i{
        width: 50px;
        height: 50px;
        font-size: 23px;
        line-height: 50px;
    }
}
@media screen and (max-width:1030px){
    .nine_main{
        width: 900px;
    }
    .nine_main_workers{
        width: 900px;
    }
}
@media screen and (max-width:930px){
    .nine_main{
        width: 800px;
    }
    .nine_main_workers{
        width: 800px;
    }
}
@media screen and (max-width:820px){
    .section_nine{
        height: 1300px;
    }
    .nine_main{
        width: 347px;
        height: 95%;
    }
    .nine_main_workers{
        width: 347px;
        height: 1100px;
        flex-direction: column;
    }
}
@media screen and (max-width:1275px){
    .ten_main{
        width: 800px;
        height: 90%;
    }
    .ten_main_worker{
        height: 65%;
        flex-direction: column-reverse;
    }
    .ten_main_worker_name{
        width: 400px;
        align-items: center;
    }
}
@media screen and (max-width:530px){
    .ten_main_worker_info{
        width: 374px;
    }
    .ten_main_worker_info p{
        font-size: 16px;
        text-align: center;
    }
    .ten_main_worker_name{
        width: 374px;
        align-items: center;
    }
}
@media screen and (max-width:1466px){
    .eleven_main{
        position: unset;
    }
}